{% extends 'baseAdmin.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="timeline timeline-simple">
            <li class="timeline-inverted">
                <div class="timeline-badge warning">
                    <i class="material-icons">directions_walk</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span class="label label-warning">Terapia Ocupacional</span>
                    </div>
                    <div class="timeline-body">
                        <p>DAYRA VELASCO B.
                            Terapeuta Ocupacional
                            Integradora Sensorial, Magister en Salud Pública. Experta en la intervención de la problemática ocupacional del ser humano.</p>
                            <hr>
                            
                            <a href="{% url 'terapia-create' %}" class="btn btn-success">Crear una historia de Terapia Ocupacional</a>
                            <a href="{% url 'terapia-lista' %}" class="btn btn-info">Lista de paciente con Terapia Ocupacional</a>
                            
                        </div>
                    </div>
                    
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge info">
                        <i class="material-icons">supervised_user_circle</i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <span class="label label-info">Psicologia</span>
                        </div>
                        <div class="timeline-body">
                            <p>ELIANA GUEVARA M.
                                Psicóloga
                                Especialista en Neuropsicopedagogía, Candidata a Doctora en Psicología con énfasis en Neurociencia Cognitiva.
                            </p>
                            <hr>
                            
                            <a href="{% url 'psico-create' %}" class="btn btn-success">Crear una historia de Psicologia</a>
                            <a href="{% url 'psico-lista' %}" class="btn btn-info">Lista de pacientes con Psicologia</a>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        
        
        
        
    </div>
    
    
    
    {% endblock content %}