{% extends 'bienvenida.html' %}
{% load static %}
{% block title %}Restablecimiento de contraseña completado{% endblock %}
{% block content %}

<div class="col-md-6 col-md-offset-3">
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="green">
      <i class="material-icons">lock</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Restablecimiento de contraseña completado </h4>
      
        <p>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</p>
        <a class="btn btn-fill btn-success" href="{% url 'login' %}">Autenticarse</a>
      
    </div>
  </div>
</div>
{% endblock %}