{% extends 'bienvenida.html' %}
{% load static %}

{% block content %}


<div class="col-md-6 col-md-offset-3">
  {% if validlink %}
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">lock</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Escriba la nueva contraseña</h4>
      <form class="form-horizontal" action="" method="post">{% csrf_token %}
        <div class="row">
          <label class="col-md-2 label-on-left">Nueva Contraseña</label>
          <div class="col-md-9">
            <div class="form-group label-floating is-empty">
              <label class="control-label"></label>
              {{form.new_password1.errors}}
              <input type="password" name="new_password1" required="" id="id_new_password1" class="form-control" >
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-md-2 label-on-left">Confirmar Contraseña</label>
          <div class="col-md-9">
            <div class="form-group label-floating is-empty">
              <label class="control-label"></label>
              {{form.new_password2.errors}}
              <p><input type="password" name="new_password2" required="" id="id_new_password2" class="form-control" placeholder="Repite la nueva contraseña"></p>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-md-3"></label>
          <div class="col-md-9">
            <div class="form-group form-button">
              <input type="submit" class="btn btn-fill btn-success" value="Cambiar contraseña">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
      <i class="material-icons">email</i>
    </div>
    <div class="card-content">
      <h4 class="card-title">Restablecimiento de contraseñas fallido</h4>
        <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
    </div>
  </div>
  {% endif %}
  
</div>
{% endblock %}