{% extends "baseAdmin.html" %}
{% load crispy_forms_tags%}



{% block content %}

<form method="post" enctype="multipart/form-data" >{% csrf_token %}
	<div class="card">
		
		<div class="card-header card-header-icon" data-background-color="rose">
			<i class="material-icons">child_care</i>
			<i class="material-icons">child_friendly</i>
		</div>
		
		<div class="card-content">
			
			{% if form.errors %}
			<div class="alert alert-danger alert-with-icon" data-notify="container">
				<i class="material-icons" data-notify="icon">notifications</i>
				<button type="button" aria-hidden="true" class="close">
					<i class="material-icons">close</i>
				</button>
				<span data-notify="message">{{form.errors}}</span>
			</div>
			{% endif%}
			
			<div class="card">
				
				<div class="card-header">
					<h4 class="card-title">Editar informacion de: <b> {{ object.identificacion }} - {{ object.primer_nombre}} {{ object.primer_apellido}} </b> </strong>
						
					</h4>
				</div>
				
				<div class="card-content">
					<div class="row">
						<div class="col-md-4">
							<ul class="nav nav-pills nav-pills-icons nav-pills-rose nav-stacked" role="tablist">
								<!--color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"-->
								<li class="active">
									<a href="#datos" role="tab" data-toggle="tab">
										<i class="material-icons">account_circle</i> Datos generales
									</a>
								</li>
								<li>
									<a href="#hc" role="tab" data-toggle="tab">
										<i class="material-icons">local_hospital</i> Historia clinica
									</a>
								</li>
								<li>
									<a href="#hd" role="tab" data-toggle="tab">
										<i class="material-icons">transfer_within_a_station</i> Historia del desarrollo
									</a>
								</li>
								<li>
									<a href="#hm" role="tab" data-toggle="tab">
										<i class="material-icons">library_books</i> Historia medica
									</a>
								</li>
								<li>
									<a href="#he" role="tab" data-toggle="tab">
										<i class="material-icons">school</i> Historia Escolar
									</a>
								</li>
								<li>
									<a href="#hs" role="tab" data-toggle="tab">
										<i class="material-icons">supervised_user_circle</i> Historia Sociofamiliar
									</a>
								</li>
							</ul>
						</div>
						
						<div class="col-md-8">
							<div class="tab-content">
								<div class="tab-pane active" id="datos">
									<h6>Tipo de identificacion</h6>
									{{ form.tipo_identificacion}}
									
									<h6>identificacion</h6>
									{{ form.identificacion}}
									
									<h6>primer nombre</h6>
									{{ form.primer_nombre}}
									
									<h6>segundo nombre</h6>
									{{ form.segundo_nombre}}
									
									<h6>primer apellido</h6>
									{{ form.primer_apellido}}
									
									<h6>segundo apellido</h6>
									{{ form.segundo_apellido}}
									
									<h6>Sexo</h6>
									{{ form.sexo}}
									
									<h6>Lugar de nacimiento</h6>
									{{ form.lugar_nacimiento}}
									
									<h6>telefono</h6>
									{{ form.telefono}}
									
									<h6>direccion</h6>
									{{ form.direccion}}
									
									<h6>correo</h6>
									{{ form.correo}}
									
									<h6>eps</h6>
									{{ form.eps}}
									
									<h6>Fecha de ingreso</h6>
									{{ form.fecha_ingreso}}
									
									<h6>nivel educativo</h6>
									{{ form.nivel_educativo}}
									
									<h6>institucion educativa</h6>
									{{ form.institucion_educativa}}
									
									<h6>primer nombre Madre</h6>
									{{ form.primer_nombre_madre}}
									
									<h6>segundo nombre madre</h6>
									{{ form.segundo_nombre_madre}}
									
									<h6>primer apellido madre</h6>
									{{ form.primer_apellido_madre}}
									
									<h6>segundo apellido madre</h6>
									{{ form.segundo_apellido_madre}}
									
									<h6>Fecha de nacimiento del madre</h6>
									{{ form.fecha_nacimiento_madre}}
									
									<h6>Ocupacion Madre</h6>
									{{ form.ocupacion_madre}}
									
									
									<h6>primer nombre Padre</h6>
									{{ form.primer_nombre_padre}}
									
									<h6>segundo nombre Padre</h6>
									{{ form.segundo_nombre_padre}}
									
									<h6>primer apellido Padre</h6>
									{{ form.primer_apellido_padre}}
									
									<h6>segundo apellido Padre</h6>
									{{ form.segundo_apellido_padre}}
									
									<h6>Fecha de nacimiento del Padre</h6>
									{{ form.fecha_nacimiento_padre}}
									
									<h6>Ocupacion Padre</h6>
									{{ form.ocupacion_padre}}
									
									
									<h6>Servicio solicitado</h6>
									{{ form.servicio_solicitado}}
									
									<h6>Remitido Por</h6>
									{{ form.remitido_por}}
                                    
									<h6>Diagnostico principal</h6>
									{{ form.diagnostico_principal}}
                                    
									<h6>Diagnositco secundario</h6>
									{{ form.diagnostico_secundario}}
									
									<h6>Motivo de la consulta</h6>
									{{ form.motivo_consulta}}
								</div>
								
								<div class="tab-pane" id="hc">
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#socio" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Antecedentes de embarazo
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="socio" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												{{ form.antecedentes_embarazo|as_crispy_field}}
												<h6>Causa de hospitalizacion</h6>
												{{ form.causa_hospitalizacion}}
											</div>
										</div>
									</div>
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#parto" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Parto
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="parto" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												{{ form.parto|as_crispy_field}}
												
											</div>
										</div>
									</div>
									
									
								</div>
								
								<div class="tab-pane" id="hd">
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#motor" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Motor
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="motor" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												<h6>Edad en la que sostuvo la cabeza</h6>
												{{ form.sostuvo_la_cabeza}}
												
												<h6>Edad en la que camino sin apoyo</h6>
												{{ form.camino_sin_apoyo}}
												
												<h6>Edad en la que se sento solo</h6>
												{{ form.se_sento_solo}}
												
												<h6>Edad en la que gateo</h6>
												{{ form.gateo}}
												
											</div>
										</div>
									</div>
									
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#lengua" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Lenguaje
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="lengua" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												<h6>Edad en la que dijo las primeras palabras</h6>
												{{ form.dijo_las_primeras_palabras}}
												
												<h6>Edad en la que dijo frases simples</h6>
												{{ form.dijo_frases_simples}}
												
												<h6>Edad en la que se expreso sin errores fonoaudiologicos</h6>
												{{ form.se_expreso_sin_errores_fonologicos}}
												
												<h6>Edad en la que inicio la lectoescritura</h6>
												{{ form.inicio_lecto_escritura}}
												
												<h6>Frases con organizacion gramatical</h6>
												{{ form.frases_gramaticales}}
												
												
												
											</div>
										</div>
									</div>
									
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#conducta" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Conducta
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="conducta" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												
												{{ form.conducta|as_crispy_field}}
												
												
											</div>
										</div>
									</div>
								</div>
								
								<div class="tab-pane" id="hm">
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#medica" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Historia Medica
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="medica" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												{{ form.historia_medica|as_crispy_field}}
												
												
											</div>
										</div>
									</div>
									<h6>Medicamentos</h6>
									{{ form.medicamentos}}
								</div>
								
								<div class="tab-pane" id="he">
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#escolar" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Historia Escolar
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="escolar" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												{{ form.historia_escolar|as_crispy_field}}
												
											</div>
										</div>
									</div>
								</div>
								
								<div class="tab-pane" id="hs">
									<div class="form-group label-floating">
										<div class="panel-heading" role="tab" id="headingOne">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#familiar" aria-expanded="true" aria-controls="collapseOne">
												<h4 class="panel-title">
													Historia Sociofamiliar
													<i class="material-icons">keyboard_arrow_down</i>
												</h4>
											</a>
										</div>
										<div id="familiar" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
											<div class="panel-body">
												{{ form.historia_socio_familiar|as_crispy_field}}
												
												
												
											</div>
										</div>
										
									</div>
									<h6>Descripcion del problema</h6>
									{{ form.descripcion_problema_socio}}
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
			</div>
            <button type="submit" class="btn btn-success">Enviar</button>
            <a href="{% url 'nino-lista' %}" class="btn btn-danger">Cancelar</a>
		</div>
	</div>
    
</form>
{% endblock content%}